{% extends 'myblog/base.html' %}
{% load static %}
{% block body %}
    <section class="section" id="blog">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading" style="margin-top: 20px">
                        <h2 class="section-title">Blog Entries</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                {% for blog in blog_data %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'myblog/images/blog-item-01.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3 class="text text-left">
                                <a href="#">{{ blog.blog_title|title }}</a>
                            </h3>
                            <div class="text text-justify">
                               {{ blog.blog_description|truncatechars:150 }}<br>
                                <a href="#" class="text-info">Read More</a>
                            </div>
                            <div class="text text-justify">
                                <span class="text text-primary">{{ blog.user_name|title }}</span> |
                                <span class="text text-warning">{{ blog.last_modified}}</span> |
                                <span><i class="fa fa-eye" aria-hidden="true"></i> {{ blog.views }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}