{% extends 'myblog/base.html' %}
{% load static %}
{% block body %}
    <section class="section" id="blog">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading" style="margin-top: 20px">
                        <h2 class="section-title">Blog Entries</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                {% for blog in page_data %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'myblog/images/blog-item-01.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3 class="text text-left">
                                <a href="/blog/{{ blog.id }}">{{ blog.blog_title|title }}</a>
                            </h3>
                            <div class="text text-justify">
                               {{ blog.blog_description|truncatechars:150 }}<br>
                                <a href="/blog/{{ blog.id }}" class="text-info">Read More</a>
                            </div>
                            <div class="text text-justify">
                                <span class="text text-primary">{{ blog.user_name|title }}</span> |
                                <span class="text text-warning">{{ blog.last_modified}}</span> |
                                <span><i class="fa fa-eye" aria-hidden="true"></i> {{ blog.views }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- PAGINATION -->
            {% if page_data.has_other_pages %}
            <div class="row d-flex justify-content-center">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if page_data.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_data.previous_page_number }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled "><a class="page-link" href="">Previous</a></li>
                        {% endif %}

                        {% for page in page_data.paginator.page_range %}
                            <li class="page-item {% if page_data.number == page%} active {% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}
                        {% if page_data.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_data.next_page_number }}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled "><a class="page-link" href="">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
            <!-- END PAGINATION -->
        </div>
    </section>
{% endblock %}